html,
body {
  margin: 0;
  font-size: 16px;
}
body {
  font-style: normal;
  font-family: Aharoni, Spoqa Han Sans, sans-serif;
}

/*head*/

.head01 {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
}
.head02 {
  width: 61px;
  height: 61px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.head02 img {
  width: 61px;
  height: 61px;
}
.head03 {
  width: 440px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}
.head03 > a {
  text-decoration: none;
  color: black;
}
.head03 > a {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0px;
  font-style: normal;
  font-family: Aharoni, Spoqa Han Sans, sans-serif;
  line-height: 1.5;
}
.head03 > a:nth-child(3){
  color: #fde700;
}
.head03 span:hover {
  cursor: pointer;
  color: gray;
}

.snsn01 {
  width: 228px;
  height: 100px;
  position: absolute;
  right: 0;
}

.snsn02 {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.snsn02 > div > img {
  width: 19px;
  height: 19px;
}
.snsn02 > div:hover {
  cursor: pointer;
  opacity: 0.4;
}

.head04 {
  height: 236px;
}
.head05 {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
}
.head05 > h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Gilroy", "Spoqa Han Sans", "Apple SD Gothic Neo",
    "Malgun Gothic", "Nanum Gothic", "Noto Sans", "sans-serif";
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  width: 800px;
}

.head05 > P {
  opacity: 0.4;
  font-weight: 600;
  line-height: inherit;
}
.head05 h2 > div > img {
  width: 14px;
  height: 14px;
  position: absolute;
  font-size: 16px;
  font-family: "Spoqa Han Sans", "Apple SD Gothic Neo", "Malgun Gothic",
    "Nanum Gothic", "Noto Sans", "sans-serif";
  color: #363636;
  font-style: normal;
  left: 21%;
  top: 55%;
}

.fixx {
  background-color: #fff;
  position: sticky;
  z-index: 999;
  top: 0px;
}






/* main */

.main01 {
  width: 100%;
  padding-bottom: 100px;
}
.main02 {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.main02 > a > img {
  width: 410px;
  height: 410px;
}
.main02 > a{
  display: flex;
  flex-direction: column;
  
}
.main02 > a > span{
  color: black;
  position: absolute;
  
  /* display: none; */
}
.main02 > a:hover::after {
  content: "";
  display: block;
  background: linear-gradient(
    0deg,
    rgba(253, 231, 0, 1) 0%,
    rgba(253, 231, 0, 0) 100%
  ) !important;
  position: absolute;
  z-index: 1;
  left: 1;
  top: 0;
  width: 410px;
  height: 420px;
}




.main03 {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.main03 > div > a > img {
  width: 410px;
  height: 410px;
}
.main03 > div:hover::after {
  content: "";
  display: block;
  background: linear-gradient(
    0deg,
    rgba(253, 231, 0, 1) 0%,
    rgba(253, 231, 0, 0) 100%
  ) !important;
  position: absolute;
  z-index: 1;
  left: 1;
  top: 0;
  width: 410px;
  height: 420px;
}
.main04 {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.main04 > div > a > img {
  width: 410px;
  height: 410px;
}
.main04 > div:hover::after {
  content: "";
  display: block;
  background: linear-gradient(
    0deg,
    rgba(253, 231, 0, 1) 0%,
    rgba(253, 231, 0, 0) 100%
  ) !important;
  position: absolute;
  z-index: 1;
  left: 1;
  top: 0;
  width: 410px;
  height: 420px;
}
.main05 {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.main05 > div > a > img {
  width: 410px;
  height: 410px;
}
.main05 > div:hover::after {
  content: "";
  display: block;
  background: linear-gradient(
    0deg,
    rgba(253, 231, 0, 1) 0%,
    rgba(253, 231, 0, 0) 100%
  ) !important;
  position: absolute;
  z-index: 1;
  left: 1;
  top: 0;
  width: 410px;
  height: 420px;
}
.main06 {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  display: flex;
  position: relative;
}
.main06 > div > a > img {
  width: 410px;
  height: 410px;
}

.main06 > div:hover::after {
  content: "";
  display: block;
  background: linear-gradient(
    0deg,
    rgba(253, 231, 0, 1) 0%,
    rgba(253, 231, 0, 0) 100%
  ) !important;
  position: absolute;
  z-index: 1;
  left: 1;
  top: 0;
  width: 410px;
  height: 420px;
}

/* footer */
.top h2,
.mid p,
.bottom p {
  margin: 0px;
  padding: 0px;
}
.foot02 {
  background-color: #fafafa;
  height: 354px;
  width: 100%;
}
.hadan {
  border-bottom: 1px solid black;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
}
.top img {
  width: 200px;
  margin-left: 0;
  text-align: left;
  margin: 5px auto;
}
.mid p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  font-style: normal;
  font-family: "Gilroy", "Spoqa Han Sans", "Apple SD Gothic Neo",
    "Malgun Gothic", "Nanum Gothic", "Noto Sans", "sans-serif";
  color: inherit;
}
.bottom a {
  margin-top: 8px;
  margin-bottom: 7px;
}
.mid {
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
}
.mid span {
  margin-bottom: 30px;
}
.mid > span {
  font-weight: 600;
  font-size: 14px;
  color: rgba(54, 54, 54, 0.4) !important;
  letter-spacing: -0.5px !important;
  cursor: pointer;
  line-height: 1.42857143;
  font-family: "Spoqa Han Sans", "Apple SD Gothic Neo", "Malgun Gothic",
    "Nanum Gothic", "Noto Sans", "sans-serif";
}
.mid > span > img {
  width: 14px;
  height: 14px;
}
.mid > button {
  background-color: #fafafa;
  border-color: rgba(54, 54, 54, 0.2);
  padding: 17px 24px 21px 20px;
  text-align: left;
  position: relative;
  font-size: 13px !important;
  font-weight: 600;
  color: rgba(54, 54, 54, 0.85) !important;
  font-style: normal;
  line-height: 1.42857143;
  font-family: "Spoqa Han Sans", "Apple SD Gothic Neo", "Malgun Gothic",
    "Nanum Gothic", "Noto Sans", "sans-serif";
}
.bottom a {
  font-size: 18px;
  color: rgba(54, 54, 54, 0.65);
  font-family: "Gilroy", "Spoqa Han Sans", "Apple SD Gothic Neo",
    "Malgun Gothic", "Nanum Gothic", "Noto Sans", "sans-serif";
  font-weight: 600;
}
.mid button > span {
  position: absolute;
  right: 8px;
  margin-right: 10px;
  margin-top: -1px;
}
.hadan > h2 {
  font-size: 34px;
}
.hadan02 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.hadan02 > span > img {
  width: 15px;
  height: 15px;
}
.mid > button:hover {
  cursor: pointer;
  border: none;
  background-color: #fde700;
  transition: 1s;
}

@media screen and (max-width: 1400px) {
  .head05 {
    margin-left: 100px;
    margin-right: 0;
  }
  .head05 h2 > div > img {
    left: 28%;
    top: 55%;
  }
  .head05 > h2 {
    width: 800px;
  }
  .main01 {
    width: 100%;
     
  }
  .main02 {
    margin-left: 0;
    margin-right: 0;
  }
  .main03 {
    margin-left: 0;
    margin-right: 0;
  }
  .main04 {
    margin-left: 0;
    margin-right: 0;
  }
  .main05 {
    margin-left: 0;
    margin-right: 0;
  }
  .main06 {
    margin-left: 0;
    margin-right: 0;
  }

  .main02 > div > a img {
    width: 300px;
    height: 300px;
  }
  .main03 > div > a img {
    width: 300px;
    height: 300px;
  }
  .main04 > div > a img {
    width: 300px;
    height: 300px;
  }
  .main05 > div > a img {
    width: 300px;
    height: 300px;
  }
  .main06 > div > a img {
    width: 300px;
    height: 300px;
  }
  .main02 > div:hover::after {
    width: 300px;
    height: 310px;
  }
  .main03 > div:hover::after {
    width: 300px;
    height: 310px;
  }
  .main04 > div:hover::after {
    width: 300px;
    height: 310px;
  }
  .main05 > div:hover::after {
    width: 300px;
    height: 310px;
  }
  .main06 > div:hover::after {
    width: 300px;
    height: 310px;
  }




  .top h2,
  .mid p,
  .bottom p {
    margin: 0px;
    padding: 0px;
  }
  .foot02 {
    background-color: #fafafa;
    height: 354px;
    width: 100%;
  }
  .hadan {
    border-bottom: 1px solid black;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }
  .top img {
    width: 200px;
    margin-left: 20px;
    text-align: left;
  }
  .mid p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
  }
  .bottom p {
    margin-top: 8px;
    margin-bottom: 7px;
  }
  .mid {
    display: flex;
    flex-direction: column;
    transform: translateX(-60%);
  }
  .mid span {
    margin-bottom: 30px;
  }

  .mid > button {
    background-color: #fafafa;
    border-color: rgba(54, 54, 54, 0.2);
    padding: 17px 24px 21px 20px;
    text-align: left;
    position: relative;
    font-size: 13px !important;
    font-weight: 600;
    color: rgba(54, 54, 54, 0.85) !important;
    font-style: normal;
    line-height: 1.42857143;
    font-family: "Spoqa Han Sans", "Apple SD Gothic Neo", "Malgun Gothic",
      "Nanum Gothic", "Noto Sans", "sans-serif";
  }
  .bottom p {
    font-size: 18px;
    color: rgba(54, 54, 54, 0.65);
    font-family: "Gilroy", "Spoqa Han Sans", "Apple SD Gothic Neo",
      "Malgun Gothic", "Nanum Gothic", "Noto Sans", "sans-serif";
    font-weight: 600;
  }
  .mid button > span {
    position: absolute;
    right: 8px;
    margin-right: 10px;
    margin-top: -1px;
  }
  .hadan > h2 {
    font-size: 34px;
  }
  .hadan02 {
    margin-left: 20px;
    margin-right: 0;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .hadan02 > span > img {
    width: 15px;
    height: 15px;
  }
  .mid > button:hover {
    cursor: pointer;
    border: none;
    background-color: #fde700;
    transition: 1s;
  }

}


/* 반응형 2차///////////////////////// */


@media screen and (max-width: 1024px) {

  .main02 > div > a img {
    width: 230px;
    height: 230px;
  }
  .main03 > div > a img {
    width: 230px;
    height: 230px;
  }
  .main04 > div > a img {
    width: 230px;
    height: 230px;
  }
  .main05 > div > a img {
    width: 230px;
    height: 230px;
  }
  .main06 > div > a img {
    width: 230px;
    height: 230px;
  }
  .main02 > div:hover::after {
    width: 230px;
    height: 240px;
  }
  .main03 > div:hover::after {
    width: 230px;
    height: 240px;
  }
  .main04 > div:hover::after {
    width: 230px;
    height: 240px;
  }
  .main05 > div:hover::after {
    width: 230px;
    height: 240px;
  }
  .main06 > div:hover::after {
    width: 230px;
    height: 240px;
  }

  .head05 h2 > div > img {
    left: 37%;
    top: 55%;
  }
  .top{
    scale: 0.8;
  }

  .mid {
    scale: 0.8;
    display: flex;
    flex-direction: column;
    transform: translateX(-60%);
  }

  .bottom{
    scale: 0.8;
  }
  .hadan02{
    scale: 0.8;
    transform: translateX(-10%);
  }

  
}