html,body{margin: 0; font-size: 16px;}

/*head*/


.head01{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
}
.head02{
    width: 61px;
    height: 61px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.head02 img{
    width: 61px;
    height: 61px;
}
.head03{
    width: 440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.head03 > a{
    text-decoration: none;
    color: black;
}
.head03 > a{
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0px;
    font-style: normal;
    font-family: Aharoni,Spoqa Han Sans, sans-serif;
    line-height: 1.5;
}
.head03 > a:nth-child(4){
    color: #fde700;
}
.head03 span:hover{
    cursor: pointer;
    color: gray;
}
.snsn01{
    width: 228px;
    height:100px;
    position: absolute;
    right: 0;
}
.snsn02{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.snsn02 > div > img{
    width: 19px;
    height: 19px;
}
.snsn02 > div:hover{
    cursor: pointer;
    opacity: 0.4;
}

.fixx{
    background-color: #fff;
    position: sticky;
    z-index: 999;
    top: 0px;
}



.main01{
    /* list-style: none; */
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.main02{
    
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.main02 > h2{
    padding-right: 25px;
}

.main02 > button{
    border-radius: 0 4px 4px 0;
    padding: 0 18px;
    height: 35px;
    background: #fff;
    background-image: none;
    border: 1px solid #ddd;
    color: #333;
}
.main02 > button:hover{
    cursor: pointer;
    background-color: #fde700;
    transition: 1s;
}



.main03{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    
}
.main03 > span{
    border: 1px solid #e5e7eb;
    width: 260px;
    padding: 5px 0px 5px 10px;
}
.main03 > span:nth-child(1){
    color: red;
}

.main03 > span:nth-child(7){
    color: red;
}

.main05{
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.main05 > div{
    
    border: 1px solid #e5e7eb;
    width: 280px;
    height: 180px;
}
.main05 > div > ul{
    padding-left: 22px;
}
.main05 > div > h2{
    
    padding: 5px 0px 5px 10px;
    font-size: 16px;
    margin-top: 0px;
}
.main05 > div > p{

    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main05 > div:nth-child(1) > h2{
    color: red;
}
.main05 > div:nth-child(7) > h2{
    color: red;
}


.main06{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.main06 > div{
    border: 1px solid #e5e7eb;
    width: 280px;
    height: 180px;
    
}
.main06 > div > h2{
    padding: 5px 0px 5px 10px;
    font-size: 16px;
    margin-top: 0px;
}
.main06 > div > p{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main06 > div:nth-child(1) > h2,
.main06 > div:nth-child(7) > h2{
    color: red;
}
.main07{
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.main07 > div{
    border: 1px solid #e5e7eb;
    width: 280px;
    height: 180px;
    
}
.main07 > div > h2{
    padding: 5px 0px 5px 10px;
    font-size: 16px;
    margin-top: 0px;
}
.main07 > div > p{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main07 > div:nth-child(1) > h2,
.main07 > div:nth-child(7) > h2{
    color: red;
}
.main08{
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.main08 > div{
    border: 1px solid #e5e7eb;
    width: 280px;
    height: 180px;
    
}
.main08 > div > h2{
    padding: 5px 0px 5px 10px;
    font-size: 16px;
    margin-top: 0px;
}
.main08 > div > p{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main08 > div:nth-child(1) > h2,
.main08 > div:nth-child(7) > h2{
    color: red;
}
.main09{
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.main09 > div{
    border: 1px solid #e5e7eb;
    width: 280px;
    height: 180px;
    opacity: 0.4;
    
}
.main09 > div > h2{
    padding: 5px 0px 5px 10px;
    font-size: 16px;
    margin-top: 0px;
}
.main09 > div > p{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main09 > div:nth-child(1) > h2,
.main09 > div:nth-child(7) > h2{
    color: red;
}









/* footer */
.top h2,
.mid p,
.bottom p{
    margin: 0px;
    padding: 0px;
}
.foot02{
    background-color: #FAFAFA;
    height: 354px;
    width: 100%;
}
.hadan{
    border-bottom: 1px solid rgba(54, 54, 54, 0.2);
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}
.top img{
   
    width: 200px;
    margin-left: 0;
    text-align: left;
    margin: 5px auto;
    
}
.mid p{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    font-style: normal;
    font-family: 'Gilroy','Spoqa Han Sans','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
    color: inherit;
}
.bottom p{
    margin-top: 8px;
    margin-bottom: 7px;
}
.mid{
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
}
.mid span{
    margin-bottom: 30px;
}
.mid > span{
    font-weight: 600;
    font-size: 14px;
    color: rgba(54, 54, 54, 0.4) !important;
    letter-spacing: -0.5px !important;
    cursor: pointer;
    line-height: 1.42857143;
    font-family: 'Spoqa Han Sans','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
}
.mid > span > img{
    width: 14px;
    height: 14px;
}
.mid > button{
    background-color: #FAFAFA;
    border-color: rgba(54, 54, 54, 0.2);
    padding: 17px 24px 21px 20px;
    text-align: left;
    position: relative;
    font-size: 13px !important;
    font-weight: 600;
    color: rgba(54, 54, 54, 0.85) !important;
    font-style: normal;
    line-height: 1.42857143;font-family: 'Spoqa Han Sans','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif'; 
}
.bottom p {
    font-size: 18px;
    color: rgba(54, 54, 54, 0.65);
    font-family: 'Gilroy','Spoqa Han Sans','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
    font-weight: 600;
}
.mid button > span{
    position: absolute;
    right: 8px;
    margin-right: 10px;
    margin-top: -1px;
}
.hadan > h2 {
    font-size: 34px;
}
.hadan02{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.hadan02 > span > img{
    width: 15px;
    height: 15px;
}
.mid > button:hover{
    cursor: pointer;
    border: none;
    background-color: #fde700;
    transition: 1s;
}
